.DS_Store
a2/utils/datasets
*.npy
*.pickle
__pycache__/
*.conll
a3/data/en-cw.txt
*pkl
a4/**/*.en
a4/**/*.es
a4/**/vocab.json

*.bin
*.bin.optim

en_es_data/
a5_public/**/test_outputs_a4.txt
a5_public/**/vocab*.json
a5_public/**/outputs/