.DS_Store
__pycache__/

*.npy
*.pickle
*.conll
*pkl
*.bin
*.bin.optim

en_es_data/

winter_2019/a2/utils/datasets
winter_2019/a3/data/en-cw.txt
winter_2019/a4/**/*.en
winter_2019/a4/**/*.es
winter_2019/a4/**/vocab.json
winter_2019/a5_public/**/test_outputs_a4.txt
winter_2019/a5_public/**/vocab*.json
winter_2019/a5_public/**/outputs/
